html{
    scroll-behavior: smooth
}
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* mobile-view-design */

/* common utilities */
:root{
    --button-background-color:rgba(224, 44, 109, 1);
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: rgba(45, 37, 160, 1);
    padding: 33px 16px 0px;
}
p{
    margin: 0;
}
main{
    /* padding: 0 16px; */
    margin: 0 16px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
.nav-options{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-bars{
    font-size: 24px;
    color: white;
}
.login-button{
    height: 33px;
    width: 90px;
    background-color:var(--button-background-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-sign-in-alt{
    margin-right: 6px;
    font-size: 16px;
}
.login-text{
    font-weight: 500;
}

/* banner  */
.banner{
    margin-top: 46px;
    margin-bottom: 47px;
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
    padding-bottom: 40px;
}
.banner-text{
    color: white;
    margin-bottom: 50px;
}
.banner-heading{
    font-size: 36px;
    font-weight: bold;
    /* width: 278px; */
    width: 100%;
}
.banner-button{
    height: 44px;
    width: 168px;
    background-color: var(--button-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.banner-button-text{
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
    color: white;
}
.fa-arrow-right{
    font-size: 24px;
    color: white;
}
.banner-image{
    display: flex;
    justify-content: center;
}
.banner-image img{
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
}

/* players */
.players{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    justify-items: center;
}
.player{
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-photo img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-description{
    font-size: 16px;
    line-height: 26px;
}

/* news */
.news{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
}
.news-heading{
    font-size: 30px;
    line-height: 40px;
}
.news-subheading{
    font-size: 16px;
    line-height: 28px;
}
.news-image img{
    width: 100%;
    height: 248px;
    margin-top: 29px;
}

/* photoes */
.photo-collection > h3{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
    color: var(--button-background-color);
    font-size: 30px;
}
.photoes{
    display: grid;
    grid-template-columns: 1fr;
}
.photo{
    padding: 15px 15px 15px;
    position: relative;
    border-radius: 5px;
}
.photo img{
    width: 100%;
    height: 50%;
    position: relative;
    z-index: 10;
}
.demo-photo1{
    width: 98%;
    height: 20px;
    background-color: rgb(198, 198, 198);
    margin: 0 auto;
    position: relative;
    top: -20px;
    z-index: 9;
    transition: 0.5s height ease;
}
.demo-photo2{
    width: 96%;
    height: 20px;
    background-color: rgb(227, 227, 227);
    margin: 0 auto;
    position: relative;
    top: -35px;
    z-index: 8;
    transition: 0.5s height ease;
}
.photo-number{
    width: 60px;
    height: 25px;
    background-color: rgb(21, 66, 132);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 20;
}
.fa-camera{
    padding-left: 10px;
}
.photo-heading{
    margin-top: 0;
    text-align: center;
}
.photo-footer{
    display: flex;
    justify-content: space-between;
}
.team-name{
    color: red;
}
.fa-images{
    margin-right: 5px;
}
.hour{
    color: lightgray;
}
.fa-clock{
    margin-right: 5px;
}

/* footer */

.footer-logo{
    width: 278px;
    margin-top: 43px;
}
.social-icon{
    display: flex;
    margin-top: 40px;
}
.social-icon-individual{
    text-decoration: none;
    height: 32px;
    width: 32px;
    background-color: rgb(231, 231, 232);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
}
.social-icon-individual a{
    text-decoration: none;
    color: rgb(150, 155, 171);
}
.copyright{
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;
}
.going-to-top-button{
    height: 50px;
    width: 50px;
    background-color: var(--button-background-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
}
.fa-angle-up{
    color: white;
    font-size: 30px;
}

/* Designing for tabs */
@media only screen and (min-width: 600px) {
    .nav-options{
        display: none;
    }
    .banner{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        margin: 0 15px;
    }
    .player{
        width: 100%;
    }
    .player-photo img{
        width: 100%;
    }
    .news{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
    .news-image img{
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
    .photo-collection > h3{
        font-size: 60px;
        color: black;
        margin-top: 50px;
    }
    .photoes{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        justify-items: center;
    }
    .photo{
        width: 75%;
    }
    .photo:hover{
        cursor: pointer;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);;
    }
    .photo:hover .demo-photo1{
        height: 25px;
    }
    .photo:hover .demo-photo2{
        height: 25px;
    }
}

/* Designing for Desktop and Laptop */

@media only screen and (min-width: 1068px) {
    /* common utilities */
    header{
        padding: 42px 124px; 
    }
    /* header design */
    .nav-options{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        width: 60%;
        justify-content: space-between;        
    }
    .nav-options a{
        text-decoration: none;
        color: white;
    }

    .fa-bars{
        display: none;
    }
    .login-button{
        height: 44px;
        width: 123px;
    }


    /* banner design */
    .banner{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;
    }
    .banner-heading{
        font-size: 64px;
        width: 100%;
    }
    .banner-image img{
        height: 438px;
        width: 100%;
        transition: 1s transform ease;
    }
    .banner-button:hover{
        cursor: pointer;
    }
    .banner:hover .banner-image img{
        transform: scale(1.15);
        
    }

    /* main design */
    main{
        margin: 70px 110px 0;
    }
    .players{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
    }
    .player{
        width: 100%;
        padding: 15px;
    }
    .player-photo img{
        width: 100%;
    }

    /* news */
    .news{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
    }
    .news-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news-heading{
        font-size: 48px;
        line-height: 60px;
        font-weight: 700;
    }
    .news-subheading{
        color: rgba(108, 108, 108, 1);
        font-weight: 400;
    }
    .news-image img{
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
}
