/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* mobile-view-design */

/* common utilities */
:root{
    --button-background-color:rgba(224, 44, 109, 1);
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: rgba(45, 37, 160, 1);
    padding: 33px 16px 0px;
}
p{
    margin: 0;
}
main{
    /* padding: 0 16px; */
    margin: 0 16px;
}

/* header */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-bars{
    font-size: 24px;
    color: white;
}
.login-button{
    height: 33px;
    width: 90px;
    background-color:var(--button-background-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-sign-in-alt{
    margin-right: 6px;
    font-size: 16px;
}
.login-text{
    font-weight: 500;
}

/* banner  */
.banner{
    margin-top: 46px;
    margin-bottom: 47px;
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
}
.banner-text{
    color: white;
    margin-bottom: 50px;
}
.banner-heading{
    font-size: 36px;
    font-weight: bold;
    width: 278px;
}
.banner-button{
    height: 44px;
    width: 168px;
    background-color: var(--button-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.banner-button-text{
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
}
.fa-arrow-right{
    font-size: 24px;
}
.banner-image img{
    width: 329px;
    height: 260px;
}

/* players */
.players{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    justify-items: center;
}
.player{
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-photo img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-description{
    font-size: 16px;
    line-height: 26px;
}